body {
  font-family: Arial, Helvetica, sans-serif;
  width: 1280px;
  height: 720px;
  margin: auto;
}
#calculator {
  position: relative;
  margin-left: 410px;
  border-radius: 25px;
  margin-top: 50px;
  width: 450px;
  height: 560px;
  background-color: #465A65;
  border-bottom: solid 13px #36474F;
  box-shadow: 20px 25px 2px rgba(0, 0, 0, 0.157);
}

#display {
  position: absolute;
  display: inline-block;
  margin: 35px 20px;
  width: 410px;
  height: 80px;
  border-radius: 10px;
  background-color: #DDEDC8;
  box-shadow: 0px 5px 0px #36474F;
}

#resultado {
  text-align: right;
  font-size: 70px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 0;
}

/*Botoes*/
.botao {
  position: absolute;
  display: table-cell;
  cursor: pointer;
  font-size: 40px;
  font-weight: bold;
  background-color: #EDEDED;
  width: 98px;
  height: 68px;
  border-radius: 15px;
  border: solid 1px #EDEDED;
  border-bottom: solid 5px #BCC4B9;
}

/*Primeira linha*/
.ac {
  margin: 150px 0px 0px 20px;
}

.porcentagem {
  margin: 150px 0px 0px 124px;
}

.divisao {
  margin: 150px 0px 0px 228px;
}

.multiplicacao {
  margin: 150px 0px 0px 332px;
}

/*Segunda linha*/
.sete {
  margin: 230px 0px 0px 20px;
}

.oito {
  margin: 230px 0px 0px 124px;
}

.nove {
  margin: 230px 0px 0px 228px;
}

.subtracao {
  font-size: 50px;
  margin: 230px 0px 0px 332px;
}

/*Terceira linha*/
.quatro {
  margin: 310px 0px 0px 20px;
}

.cinco {
  margin: 310px 0px 0px 124px;
}

.seis {
  margin: 310px 0px 0px 228px;
}

.adicao {
  height: 148px;
  font-size: 50px;
  margin: 310px 0px 0px 332px;
}

/*Quarta linha*/
.um {
  margin: 390px 0px 0px 20px;
}

.dois {
  margin: 390px 0px 0px 124px;
}

.tres {
  margin: 390px 0px 0px 228px;
}

/*Quinta linha*/
.zero {
  width: 202px;
  margin: 470px 0px 0px 20px;
}

.ponto {
  font-size: 50px;
  margin: 470px 0px 0px 228px;
}

.igualdade {
  font-size: 50px;
  margin: 470px 0px 0px 332px;
}

/*Botoes na lateral e topo*/
.lateral {
  color: white;
  background-color: #E49929;
  border-color: #E49929;
  border-bottom-color: #C5770A;
}

.topo {
  color: white;
  background-color: #A7A7A7;
  border-color: #A7A7A7;
  border-bottom-color: #868686;
}

/*Acionamento dos botoes*/
.botao:focus {
  border-bottom: solid 3px #BCC4B9;
}

.lateral:focus {
  border-bottom: solid 3px #C5770A;
}

.topo:focus {
  border-bottom: solid 3px #868686;
}